html { overflow-y: hidden; overflow-x:hidden; }
body { position: absolute; }


.header-color{
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid{
position: fixed;
top: 0;
left: 0;
width: 100%;
text-align: center;

}

.avatar-img {
  height: 275px;
  margin-top: .5em; 
  margin-bottom: 2em;
  border-radius: 50%;
}

.myName h1{
  font-size: 76px;
  font-weight: bold;
  color: white;
  margin-top: 1em;
  text-shadow: -1px 0 #434343, 0 1px #434343, 1px 0 #434343, 0 -1px #434343;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 50%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;

}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;

}
.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  
}
.social-links i{
  color: white;
  font-size: 5em;
  padding: 5px;
}

.projects-grid{
  display: flex;
}

.tabs-header{
  background: white;
}

.contact-body{
  padding-top: 2em;
  padding-bottom: 2em;
}
.contact-content{
  margin: auto;
  width: 50%;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background: rgb(200,200,200,.75);
}

.contact-content hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-content h2{
  font-family: 'Oxygen', sans-serif;
  padding-top: .5em;
  font-weight: bold;
}

.contact-content h1{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-content p{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  
}

.contact-img {
  height: 275px;
  margin-top: .5em; 
  margin-bottom: .5em;
  border-radius: 50%;
}

.about-body{
  padding-top: 2em;
  padding-bottom: 2em;
}
.about-content{
  margin: auto;
  width: 55%;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background: rgb(200,200,200,.75);
}

.about-content hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.about-content h2{
  font-family: 'Oxygen', sans-serif;
  padding-top: 1em;
  font-weight: bold;
}

.about-content h4{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.about-content h1{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.about-content p{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  
}

